/* Загальні стилі для сторінок */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Забезпечує, що сторінка займатиме всю висоту вікна */
}

h2 {
  text-align: center;
  color: #333;
}

p {
  color: #555;
  line-height: 1.6;
  margin: 10px 0;
}

/* Контейнер сторінки */
.page-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-grow: 1; /* Робить головний контент гнучким, щоб футер залишався внизу */
}

/* Стилі для заголовку і навігації */
header {
  background-color: #333;
  padding: 10px;
  color: white;
  position: relative;
}

nav {
  display: flex;
  justify-content: center; /* Центрує навігаційні посилання */
  align-items: center;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 16px;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Зменшена кнопка "Вийти" і її позиціонування */
nav button {
  background-color: #f44336;
  color: white;
  border: none;
  width: 10%;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  right: 10px; /* Розміщення в правому верхньому куті */
  top: 10px; /* Позиціонує кнопку зверху */
}

nav button:hover {
  background-color: #d32f2f;
}

/* Стилі для карток новин */
.news-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.news-card img {
  margin-right: 20px;
  width: 150px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  background-color: #ddd; /* Додаємо фоновий колір, якщо зображення не прогружається */
}

/* Стилі для форми логіну */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 16px;
  color: #333;
}

input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input:focus {
  outline: none;
  border-color: #333;
}

/* Стилі для кнопок */
button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}

/* Футер закріплений внизу сторінки */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  width: 100%;
}

footer p {
  margin: 0;
}
